@media screen and (max-width:420px) {
  .preauth_login_nav{
    background-color: rgb(68, 90, 138);
    border: 2px solid rgb(255,215,0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.478);
}
.preauth_title{
  text-decoration: none;
  color: rgb(255,215,0);
  font-family: Friz Quadrata Regular;
}
}