@media screen and (max-width:500px){
 .footer{
   display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 99vw;
  height: 4rem;
  background-color: rgb(68, 90, 138);
  border: 2px solid rgb(255,215,0);
  color: white;
  text-align: center;
  flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
 }
 .link{
   color:rgb(255,215,0);
 }
 .link:hover{
color: aliceblue;
cursor: pointer;
 }
}